@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.84fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.nav-bar, .header {
    padding-top: 1.5vh;
}

.nav-bar {
    background-color: #dc2626;
    color: white;
    font-size: 2vh;
    font-weight: 600;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 60px;
    column-gap: 0.5vw;
    grid-auto-rows: min-content;
}

.nav-head-link, .nav-link {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
}

.nav-head-link, .nav-link, .header-link, .removed-a {
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
    background-color: #d12424;
}

.nav-title {
    font-size: 3vh;
}

.nav-title-icon, .nav-icon {
    filter: invert(99%) sepia(1%) saturate(263%) hue-rotate(298deg) brightness(119%) contrast(100%);
    justify-self: center;
    padding-left: 0.8vw;
}

.nav-title-icon {
    height: 60px;
}

.nav-icon {
    height: 30px;
    padding: 0.8vw 0 0.8vw 0;
}

.empty {
    grid-column: 1 / 3;
    height: 1.6vw;
}


.header {
    display: grid;
    padding-left: 2vw;
    padding-right: 4vw;
    position: relative;
    box-shadow: 0 5px 10px rgb(187, 187, 187);
}

.header-top, .header-bot {
    display: grid;
    align-items: center;
    gap: 1.4vw;
}

.header-top {
    grid-template-columns: 30px 1fr 30px 50px auto;
    justify-items: center;
    padding-bottom: 2vh;
}

.header-bot {
    grid-template-columns: 80px 1fr auto auto auto;
    font-weight: 700;
    padding-bottom: 1.5vh;
}

#search {
    justify-self: start;
    height: 3.5vh;
    width: 50vw;
    border-radius: 50px;
    border: none;
    background-color: rgb(231, 231, 240);
    padding: 0.5vh 0 0.5vh 1vw;
    font-size: 2vh;
}

#search:focus {
    outline: none;
}

.header-icon {
    height: 30px;
}

.profile {
    font-weight: 700;
    font-size: 2.4vh;
}

.profile-pic {
    border-radius: 50%;
    height: 55px;
    width: 55px;
}

.profile-pic-large {
    border-radius: 50%;
    height: 80px;
}

button {
    justify-self: center;
    border-radius: 50px;
    padding: 1vh 1vw;
    width: 6.3vw;
    background-color: #dc2626;
    color: white;
    border: none;
    font-size: 2vh;
    font-weight: inherit;
}

button:hover {
    background-color: #d12424;
    cursor: pointer;
    box-shadow: 0 2px 8px rgb(235, 168, 168);
}

.greet-text {
    font-size: 1.8vh;
    padding-bottom: 0.3vh;
}

.greet-name {
    font-size: 3vh;
}

.dashboard {
    background-color: rgb(218, 218, 218);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 3vh 2vw 3vh 2vw;
    gap: 30px;
}

.your-projects {
    grid-row: 1 / 3;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
}

.desc {
    height: 70%;
}

.project, .announcements-container, .trending-container {
    background-color: rgb(247, 247, 247);
    box-shadow: 0 5px 10px rgb(187, 187, 187);
    border-radius: 10px;
    padding: 4vh 2.4vw 3.8vh 2.4vw;
}

.project {
    height: 22vh;
    font-size: 2vh;
    box-shadow: 5px 5px 10px rgb(187, 187, 187);
    background-image: linear-gradient(to right, #e2b434 2%, rgba(0,0,0,0) 2%); 
    display: flex;
    flex-direction: column;
}

.title, .dashboard-title {
    font-size: 2.5vh;
    padding-bottom: 1vh;
    font-weight: 500;
}

.title {
    padding-bottom: 0.4vh;
}

.commands {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    justify-content: end;
    gap: 1.8vw;
}

.command-icon {
    height: 30px;
    filter: invert(17%) sepia(6%) saturate(206%) hue-rotate(91deg) brightness(91%) contrast(86%);
}

.announcements-container {
    display: grid;
    gap: 15px;
}

.announce-title {
    font-weight: 500;
    font-size: 2vh;
    padding-bottom: 0.2vh;
    border-top: 1px solid #58595c;
    padding-top: 1.6vh;
}

.announce-top{
    border-top: none;
    padding-top: 0;
}

.desc, .announce-desc, .trending-project {
    color: #58595c;
}

.announce-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    font-size: 1.8vh;
}
    
.trending-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    row-gap: 24px;
    column-gap: 8px;
    padding: 3.5vh 1.6vw 3.5vh 1.6vw;
    align-items: center;
}