* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.nav-bar {
    background-color: rgb(228, 64, 23);
    grid-row: 1 / 3;
}

.header {
    background-color: beige;
}

.dashboard {
    background-color: rgb(185, 185, 185);
}